
<div class="uk-width-medium-1-2 uk-width-small-1-1 va-single-next-match">
  <div class="va-main-next-wrap">
  
    <div class="main-next-match-title"><em>Next <span>Race</span></em></div>

    <div class="match-list-single">
      <div class="match-list-item">
      
        <div class="count">
          <div id="countdown4">
          <div class="counter_container">
            {{ fields.field_match_date_1.content }}
          </div>
          </div>
        </div>
        
        <div class="clear">&nbsp;</div>
        
        <div class="logo">{{ fields.field_image.content }}</div>
        
        <div class="team-name">{{ fields.title.content }}</div>
        
        
        
        <div class="date">{{ fields.field_match_date.content }} </div>
        
        <div class="location">
        <address>{{ fields.field_location.content }}<br />
        &nbsp;</address>
        </div>
      </div>

    </div>
  </div>
</div>

